<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console-log" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{HH:mm:ss} %c{1} - %msg%n"/>
    </Console>
    <File name="file-log" fileName="logs/server.log" append="false">
      <PatternLayout pattern="%m%n"/>
      	<Filters>
            <ThresholdFilter level="warn"  onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
            <ThresholdFilter level="error" onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
            <ThresholdFilter level="fatal" onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
			<ThresholdFilter level="info"  onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
            <!-- This filter accepts info, warn, error, fatal and denies debug/trace -->
            <ThresholdFilter level="trace"  onMatch="DENY" onMismatch="DENY"/>
        </Filters>
    </File>
  </Appenders>
  <Loggers>
    <logger name="ir" level="ALL">
        <AppenderRef ref="file-log"/>
        <AppenderRef ref="console-log"/>
    </logger>
     <Root level="error">
     	<AppenderRef ref="console-log" level="ERROR"/>
     </Root>
  </Loggers>
</Configuration>